* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 10px;
}

button {
  width: 100%;
  display: block;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #555;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
body {
  color: #222;
}
img {
  max-width: 100%;
}
main {
  padding: 10px;
  max-width: 960px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: inherit;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  nav {
    display: flex;
    gap: 15px;
  }
}

.post {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    .img_box {
      width: 450px;
      height: 300px;
      position: relative;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .texts {
    h2 {
      margin: 0;
      font-size: 1.8rem;
    }
    a {
      color: inherit;
    }
  }

  .info {
    margin: 6px 0;
    color: #888;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    gap: 10px;
  }
  .author {
    color: #333;
  }
  .summary {
    margin: 10px 0;
    line-height: 1.5;
  }
}

.login_form,
.register_form {
  max-width: 400px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.post_page {
  .img_box {
    max-height: 300px;
    overflow: hidden;
    display: flex;
  }
  img {
    width: 100%;
    object-fit: cover;
    object-position: center center;
  }
  a {
    color: #333;
    text-decoration: underline;
  }
  h1 {
    text-align: center;
    margin: 10px 0 10px;
  }
  time {
    text-align: center;
    display: block;
    font-size: 0.8rem;
    color: #999;
  }
  .author {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .content > p {
    line-height: 1.7rem;
  }
  .options {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
  }
  .edit_btn {
    background-color: #272e48;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
  .delete_btn {
    width: auto;
    margin-top: 0;
    background-color: rgb(147, 44, 44);
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
  }
}
