@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #222;
}
input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #ddd;
  padding: 10px;
  font-family: inherit;
}

button {
  width: 100%;
  display: block;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  background-color: #555;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}

// 작업 끝나고 주석 해제하기!
// body::-webkit-scrollbar {
//   display: none; /* 스크롤바 숨김 */
// }

img {
  max-width: 100%;
}
main {
  padding: 0 10px 30px;
  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  z-index: 99;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 16vw;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #038b83;
  background-color: #fff;
  .greeting {
    font-weight: bold;
    color: #038b83;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  .logo {
    font-weight: bold;
  }
  nav {
    display: flex;
    gap: 15px;
    a {
      &:hover {
        font-weight: bold;
      }
    }
  }
}

.login_form,
.register_form {
  max-width: 400px;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  button {
    background-color: #038b83;
    transition: all 0.2s;
    &:hover {
      background-color: #275451;
    }
  }
  small {
    color: #e92323;
    display: block;
    margin-bottom: 10px;
  }
}

.post_page {
  display: flex;
  flex-direction: column;
  .post_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img_box {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    // opacity: 0.3;
  }
  img {
    object-fit: contain;
    object-position: center center;
  }
  a {
    color: #333;
    text-decoration: underline;
  }
  h1 {
    text-align: center;
    margin: 10px 0 10px;
    color: #038b83;
  }
  time {
    text-align: center;
    display: block;
    font-size: 0.8rem;
    color: #999;
  }
  .author {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
  }
  .content > p {
    line-height: 1.7rem;
  }
  .options {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 10px;
  }
  .edit_btn {
    background-color: #038b83;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.3s;
    &:hover {
      background-color: #194745;
    }
  }
  .delete_btn {
    width: auto;
    margin-top: 0;
    background-color: #737373;
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 13px;
    transition: all 0.3s;
    &:hover {
      background-color: #3e3e3e;
    }
  }
  .interaction_area {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
  }
  .comment_title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 4px;
    border-radius: 5px;
    font-weight: bold;
  }
  .like_btn {
    background: transparent;
    display: flex;
    margin-top: 0;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 60px;
    color: #000;
    font-weight: bold;
  }
}

// editor 스타일
.ql-editor {
  img {
    display: block;
  }
}
.ql-container {
  overflow: hidden;
}
.ql-toolbar {
  button {
    margin-top: 0;
  }
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

footer {
  background-color: #038b83;
  color: #fff;
  text-align: center;
  font-size: 13px;
  line-height: 50px;
  height: 50px;
}
